* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {

    margin-top: 47px;
    margin-left: 42px;
}


.button {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    width: 124px;
    height: 51px;
}

.link-header {
    margin-right: 32px;
    color: #17233D;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    cursor: pointer;
}

.img01 {
    margin: 163px 0 0 123px;
    display: inline-block;
}

div {
    display: inline-block;
    width: 493px;
}

.h1 {
    color: #161A49;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    width: 582px;
    margin-left: 85px;
}


p {
    margin-top: 47px;
    color: #4B505A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;

    margin-left: 96.8px;
}



.learn-more {
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    border: none;
    margin-top: 55px;
    cursor: pointer;
    margin-left: 85.9px;
}

@media screen and (max-width: 900px) {
    .body {
        width: 100vw;
        height: 100vh;
    }
    .link-header {
        display: none;

    }

    .button {
        width: 91px;
        height: 31px;
        border-radius: 6px;
        border: 1px solid #4CB538;
        background: #6FBF44;
        margin-left: 241px;
    }

    .h1 {

        color: #161A49;
        text-align: center;
        width: 278px;
        margin-top: 76px;
        margin-left: 55px;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.596px;
    }

    .img01 {
        width: 279.921px;
        height: 268.932px;
        margin-top: 490px;
        position: absolute;
        margin-left: 39px;
    }

    .p {
        color: #4B505A;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        line-height: 33px;
        letter-spacing: 0.5px;
        width: 304px;
        margin-left: 43px;

    }

    .learn-more {
        color: #6FBF44;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        margin-top: 38px;
        margin-left: 139px;
    }

}